<html>
  <title>Update</title>
    <head>        
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">    
        <div class="navbar-nav">
          <a class="nav-link active" href="{{ url_for('Index') }}">Home </a>
          <a class="nav-link active" href="{{ url_for('Update') }}">Update </a>
        </div>
      </nav>

      <div style="background-color: #a7ffa4; ">
        <div style="margin-left: 30px;">
          <br>
          <h1>Update Employee Table</h1>
          <form method="post">
            <h2>Insert</h2>
            {{ Employee.hidden_tag() }}
            {{ Employee.emp_id.label }} {{ Employee.emp_id }} <br>
            {{ Employee.first_name.label }} {{ Employee.first_name }} <br>
            {{ Employee.last_name.label }} {{ Employee.last_name }} <br>
            {{ Employee.birth_day.label }} {{ Employee.birth_day }} <br>
            {{ Employee.sex.label }} {{ Employee.sex }} <br>
            {{ Employee.salary.label }} {{ Employee.salary }} <br>
            {{ Employee.super_id.label }} {{ Employee.super_id }} <br>
            {{ Employee.branch_id.label }} {{ Employee.branch_id }} <br>
            {{ Employee.submit() }} <br><br>
          </form>
          <form method="post">
            <h2>Delete</h2>
            {{ DelEmployee.hidden_tag() }}
            {{ DelEmployee.emp_id.label }} {{ DelEmployee.emp_id }} <br>
            {{ DelEmployee.submit() }} <br><br>
          </form>
        </div>
      </div>
      
      <div style="background-color: #ffc7c7; ">
        <div style="margin-left: 30px;">
          <br>
          <h1>Update Branch Table</h1>
          <form method="post">
            <h2>Insert</h2>
            {{ Branch.hidden_tag() }} <br>
            {{ Branch.branch_id.label }} {{ Branch.branch_id }} <br>
            {{ Branch.branch_name.label }} {{ Branch.branch_name }} <br>
            {{ Branch.mgr_id.label }} {{ Branch.mgr_id }} <br>
            {{ Branch.mgr_start_date.label }} {{ Branch.mgr_start_date }} <br>
            {{ Branch.submit() }} <br><br>
          </form>
          <form method="post">
            <h2>Delete</h2>
            {{ DelBranch.hidden_tag() }}
            {{ DelBranch.branch_id.label }} {{ DelBranch.branch_id }} <br>
            {{ DelBranch.submit() }} <br><br>
          </form>
        </div> 
      </div>

      <div style="background-color: #adacff; ">
        <div style="margin-left: 30px;">
          <br>
          <h1>Update Client Table</h1>
          <form method="post">
            <h2>Insert</h2>
            {{ Client.hidden_tag() }} <br>
            {{ Client.client_id.label }} {{ Client.client_id }} <br>
            {{ Client.client_name.label }} {{ Client.client_name }} <br>
            {{ Client.branch_id.label }} {{ Client.branch_id }} <br>
            {{ Client.submit() }} <br><br>
          </form>
          <form method="post">
            <h2>Delete</h2>
            {{ DelClient.hidden_tag() }}
            {{ DelClient.client_id.label }} {{ DelClient.client_id }} <br>
            {{ DelClient.submit() }} <br><br>
          </form>
        </div>
      </div>

      <div style="background-color: #fffd92; ">
        <div style="margin-left: 30px;">
          <br>
          <h1>Update Employee-Client association Table</h1>
          <form method="post">
            <h2>Insert</h2>
            {{ WorksWith.hidden_tag() }} <br>
            {{ WorksWith.emp_id.label }} {{ WorksWith.emp_id }} <br>
            {{ WorksWith.client_id.label }} {{ WorksWith.client_id }} <br>
            {{ WorksWith.total_sales.label }} {{ WorksWith.total_sales }} <br>
            {{ WorksWith.submit() }} <br><br>
          </form>
          <form method="post">
            <h2>Delete</h2>
            {{ DelWorksWith.hidden_tag() }}
            {{ DelWorksWith.emp_id.label }} {{ DelBranch.emp_id }} <br>
            {{ DelWorksWith.submit() }} <br><br>
          </form>
        </div>
      </div>

      <div style="background-color: #a3fff7; ">
        <div style="margin: 30px;">
          <br>
          <h1>Update Supplier Table</h1>
          <form method="post">
            <h2>Insert</h2>
            {{ Supplier.hidden_tag() }} <br>
            {{ Supplier.branch_id.label }} {{ Supplier.branch_id }} <br>
            {{ Supplier.supplier_name.label }} {{ Supplier.supplier_name }} <br>
            {{ Supplier.supply_type.label }} {{ Supplier.supply_type }} <br>
            {{ Supplier.submit() }} <br><br>
          </form>
          <form method="post">
            <h2>Delete</h2>
            {{ DelSupplier.hidden_tag() }}
            {{ DelSupplier.supplier_name.label }} {{ DelSupplier.supplier_name }} <br>
            {{ DelSupplier.submit() }} <br><br>
          </form>
        </div>
      </div>

    </body>
</html>